@charset "utf-8";

/* default definition */
html, body {width:100%;}
html, body, p, h1, h2, h3, h4, h5, h6, li, dt, th, td, label, address {
	margin:0;
	padding:0;
	font:normal 12px 돋움, Dotum, Arial, Geneva, Helvetica, sans-serif;
	color:#686868;
	/*letter-spacing:-0.5px; */
	word-break:break-all;
}
html, body, div, p, span, ul, ol, dl, dd, table, form, h1, h2, h3, h4, form, legend, label, fieldset, li, dt, a {margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0;}
img {border:none;}
hr {display:none;}
fieldset {border:none;}
legend, caption {display:none;}
dl, ul, dt, dd, li {list-style-type:none;}
div.clear {clear:both; height:0; font:0/0 Arial;} /* clear */

/*scrollbar*/
html, body{
	scrollbar-face-color:#F2F2F2;
	scrollbar-shadow-color:#DEDEDE;
	scrollbar-highlight-color:#DEDEDE;
	scrollbar-3dlight-color:#FFF;
	scrollbar-darkshadow-color:#FFF;
	scrollbar-track-color:#FFF;
	scrollbar-arrow-color:#D2D2D2;
}

/* heading */
/*h1{ font-size: 1.6em; margin-bottom: 10px; }	/* 26px */
/*h2{ font-size: 1.571em; margin-bottom: 10px; }	/* 22px */
/*h3{ font-size: 1.429em; margin-bottom: 10px; }  /* 20px */
/*h4{ font-size: 1.286em; margin-bottom: 10px; }  /* 18px */
/*h5{ font-size: 1.143em; }						/* 16px */
/*h6{ font-size: 1.0em; }							/* 14px */
h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; color: #000; letter-spacing: 0; font-weight:bold;}

/* link */
a, a:link, a:visited {color:#707070; text-decoration:none; cursor:pointer; font-size:11px;}
a:hover, a:active {color:#707070; cursor:pointer;}

/* font */
.fs_0 {font-size:0;}
.fs_small {font-size:11px;}
.fs_normal {font-size:12px;}
.fs_large {font-size:13px;}

.ft_bold {font-weight:bold;}
.ft_normal {font-weight:normal;}

/* color */
span.ac {color:#7e7bf1;}
span.won {color:#00bcdet;}
span.point {color:#3974cd;}

.fc_dc {color:#dcdcdc;}
.fc_558690 {color:#558690;}

/* float */
.nfl {float:none;}
.cboth {clear:both;}
.fl_l {float:left;}
.fl_r {float:right;}
.ov_fl {overflow:hidden;}

/* input */
input.inbox {height:14px; padding:3px 0 0 5px; border:1px solid #c7c7c7; vertical-align:middle;}
input.chkbox {width:13px; height:13px; #margin-top:-2px;}
select.클래스명 {#margin-top:-2px; behavior: url('/inc/css/selectbox.htc');}
select {color:#808080; font-size:12px;}

input {ime-mode:active;}
/* width */

/* height */

/* padding */

/* margin */
.mg_b10 {margin-bottom:10px;}
.mg_t20 {margin-top:20px;}
.mg_l5 {margin-left:5px;}

/* align */
.ag_l {text-align:left;}
.ag_c {text-align:center;}
.ag_r {text-align:right;}
.ag_j {text-align:justify;}

.va_t {vertical-align:top;}
.va_m {vertical-align:middle;}
.va_b {vertical-align:bottom;}
.va_up3 {vertical-align:-3px;}

/* png */
.png24 {tmp:expression(setPng24(this));}

/* background */
.bgn {background:none;}

/* position */
.po_re {position:relative;}

/* border */
.bon {border:none;}
.red {border:1px solid red;}

/* 메뉴이동 */
#accessibility_menu, #skip, .gnb {position:absolute; left:-1000em;top:-1000em; overflow:hidden; width:0; height:0; font-size:0; line-height:0; text-indent:-1000em;}

/* paging */
ul.paging {text-align:center; margin-top:20px; padding-bottom:50px;}
ul.paging li, ul.paging li a {display:inline; color:#505050;}
ul.paging li a {padding:0 6px 0 2px; background:url('../img/bg_paging.gif') no-repeat right 0;}
ul.paging li.on {color:#607cd4; font-weight:bold;}
ul.paging li span {font-weight:bold;}
ul.paging li img {vertical-align:-2px;}
ul.paging li.prev a {padding-right:6px;}
ul.paging li.prev img {margin-right:2px;}
ul.paging li.next a {background:none;background:none; padding-left:4px;}
ul.paging li.next a img {margin-left:4px;}
ul.paging li.btn a {background:none;}

/*footer*/

/*quick*/

/* dot */
.dot {margin:0 -1px;}


/* cursor */
.hand {cursor:pointer;}

/*color border*/
.red {border:1px solid red;}
.blue {border:1px solid blue;}
.green {border:1px solid green;}
.black {border:1px solid black;}